@using mvc_inermadiate.Models;
@model UrunKategori
@{
    ViewBag.Title = "Index";
}

<h2>Kurslar</h2>
<hr/>
<div class="alert alert-success" role="alert">
    <strong>
        @Model.UrunSayisi
    </strong>adet ürün listelendi.
     
</div>
    @foreach (var urun in Model.Urunler)
    {

        if (urun.Satistami == true)
        {

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="Http://via.placeholder.com/350x150" alt="...">
                    <div class="caption">
                        <h3>@urun.UrunAdi</h3>
                        <p>
                            @if (urun.Aciklama.Length > 50) {
                                @(urun.Aciklama.Substring(0,47) + "...")
                            }
                            else
                            {
                                @urun.Aciklama
                            }


                        </p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>


        }

    }






