@model List<mvc_inermadiate.Models.Urun>
@{
    ViewBag.Title = "UrunListe";
}

<h2>UrunListe</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Resim</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~img/@item.Resim" />
                </td>
                <td>@item.UrunAdi</td>
                <td>@item.Fiyat</td>
                <td>
                    <a href="/Home/Details/@item.UrunID" class="btn-primary btn-xs">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>